<ion-header>
  <ion-toolbar color="primary">
    <h3 class="titlePos">English</h3>
    <ion-searchbar placeholder="Search"
                   [(ngModel)]="keyword"
                   (ionInput)="searchkeyword($event)">
    </ion-searchbar>

    <ion-segment [(ngModel)]="page" color="primary">
      <ion-segment-button value="English" (click)="selectedTab(0)" checked>
        <p class="segColor">English</p>
      </ion-segment-button>
      <ion-segment-button value="Chinese" (click)="selectedTab(1)">
        <p class="segColor">Chinese</p>
      </ion-segment-button>
      <ion-segment-button value="Kachin" (click)="selectedTab(2)">
        <p class="segColor">Kachin</p>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
 
</ion-header>


<ion-content padding>
    <ion-slides #slider>
      <ion-slide>
        <ion-list>
            <ion-item *ngFor="let result of allWords">
              <div>
                  <h3>{{result.word}}</h3>      
                  <p>{{result.Engmeaning}}</p>
              </div>
            </ion-item>
          </ion-list>
      </ion-slide>
      <ion-slide>
        <ion-list>
          <ion-item *ngFor="let result of allWords">
            <div>
                <h3>{{result.word}}</h3>      
                <p>{{result.Chmeaning}}</p>
            </div>
          </ion-item>
        </ion-list>
      </ion-slide>
      <ion-slide>
        <ion-list>
          <ion-item *ngFor="let result of allWords">
            <div>
                <h3>{{result.word}}</h3>      
                <p>{{result.Kameaning}}</p>
            </div>
          </ion-item>
        </ion-list>
      </ion-slide>
    </ion-slides>

</ion-content>
