<ion-header>
  <ion-toolbar>   
    <ion-searchbar placeholder="Search"
        [(ngModel)]="keyword"
        (ionInput)="searchkeyword($event)"
        class="searchBar">
      <ion-buttons class="sidebar_btn" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-searchbar>   
  
    <div class="segPadding">
      <ion-segment [(ngModel)]="page" class="ion_segment">
        <ion-segment-button value="English" (click)="selectedTab(0)" checked>
          <p class="segColor">English</p>
        </ion-segment-button>
        <ion-segment-button value="Chinese" (click)="selectedTab(1)">
          <p class="segColor">Chinese</p>
        </ion-segment-button>
        <ion-segment-button value="Kachin" (click)="selectedTab(2)">
          <p class="segColor">Kachin</p>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar> 
</ion-header>

<ion-content no-padding class="content_container">
    <ion-slides #slider *ngIf = "!resultCompare; else show_Result">
      <ion-slide *ngFor="let item of noResult"> 
        <ion-item>{{item.content}}</ion-item>
      </ion-slide>    
    </ion-slides> 
    <ng-template #show_Result>
    <ion-slides #slider>
      <ion-slide *ngFor = "let count of loopCount">  
        <div class="wordsContainer">                      
          <ion-list-header *ngFor = "let item of searchResults; let i = index" no-padding flex-right>           
            <div class="wordContainer">
              <ion-item color="transparent" class="toggleIcon(i)" no-padding detail-none>
                <button clear text-left class = "bgcolor" (click)="toggleFavorite(i)">
                  <ion-icon class = "favoriteIconSize iconIndex{{i}}" name="star-outline"></ion-icon>                  
                </button>                        
                <h5 style="flex:1">{{item.word}}</h5>
                <ion-icon name ="arrow-forward" (click)="toggleSection(i)"></ion-icon>                                
              </ion-item>                
            </div>
          </ion-list-header>   
        </div>   
      </ion-slide>
    </ion-slides>  
  </ng-template>
</ion-content>